/* Footer Section */
.footer {
    background-color: #adf1b7; 
    padding: 20px 0;
    text-align: center; 
}

/* Container to hold the sections */
.container {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: auto; 
}

/* Individual section inside the container */
.section {
    flex: 1; 
    min-width: 200px;
    margin: 10px; 
}

/* Header style for each section */
.section h3 {
    font-size: 18px; 
    color: #333;
    margin-bottom: 10px;
}

/* Style for the list inside each section */
.section ul {
    list-style: none; 
    padding: 0; 
}

/* List item styling */
.section ul li {
    font-size: 16px; 
    margin: 5px 0; 
    cursor: pointer; 
}

/* Link styling inside list items */
.section ul li a {
    text-decoration: none; 
    color: rgb(0, 0, 0); 
}

/* Hover effect for links */
.section ul li a:hover {
    color: #23e740; 
    transform: translateY(-20px);
    transition: 0.3s ease; 
}

/* Style for social media icons */
.icon {
    margin-right: 8px;
}

/* Container for social media icons */
.socialContainer {
    text-align: center; 
    margin-top: 15px; 
}

/* Flexbox layout for social media icons */
.socialIcons {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
}

/* Style for individual social media icon */
.socialIcon {
    font-size: 20px;
    cursor: pointer;
    color: #333; 
    transition: 0.3s; 
}

/* Hover effect for social media icons */
.socialIcon:hover {
    color: #007bff; 
}
