*{
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Poppins', sans-serif;
}
/* App.module.css */
.appContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main Content */
.mainContent {
    flex: 1;
    padding-top: 40px; /* Add padding to create space from navbar */
    width: 100%;
}

/* Footer */
.footer {
    background-color: #333; /* Dark background */
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    
    z-index: 500; /* Lower than the floating button */
    
    
}


